
.App {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(164, 224, 239);
}

.App h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App-form {
  width: 30%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-form input {
  width: 85%;
  height: 2rem;
  font-size: 20px;
}

.App-form button {
  width: 20%;
  height: 2.3rem;
  font-size: 30px;
  background: rgb(17, 170, 32);
  color: white;
  border: none;
  margin: 2px;
}

.App-form button:hover {
  background: rgb(8, 141, 48);
}

.Todos {
  width: 30%;
  color: #ffffff;
}


